body {background-color: rgb(231, 140, 83);}

.head{ color: darkblue;}

#bglime{background-color: rgb(144, 203, 144);}
p2{color:red}

p{color: white;
  font-size: 20px;}

#para{color: green;
      font-size: 10px;}

p4{color:black;
   font-size: 30px}

p5{background-color:yellow;}
p6{background-color: purple;}

p7{color:red;}
p8{color:blue;}
